@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
    list-style: none;
    text-decoration: none;
}

:root{
    --color_primaria: #EA2840;
    --funco: #181C1F;
    --branco:#FFFFFF ;
    -cor_de_apoio_1: #70B69C;
    -cor_de_apoio_2: #EFB501;
    --branco_com_opacidade: #ffffff 50%;
}
